/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
}

.active{
    color: #4CAF50;
}

.swiper-button-prev{
    left: -100px !important;
}

.swiper-button-next{
    right: -100px !important;
}

.rdt_TableCell{
    font-size: 15px;
    font-weight: 500;
}

.sc-cwHqhk{
    font-size: 16px;
    font-weight: 700;
}